.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 197, 99);
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.Content button,
input {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 7px;
  margin: 10px;
  padding-left: 10px;
  font-size: 17px;
}

.Content input.description {
  width: 300px;
  height: 100px;
}

button {
  cursor: pointer;
}

.hash {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
}

.hash input {
  width: 20px;
}
table,
th,
td {
  width: 100%;
  height: 10%;
  border: 1px solid black;
  border-collapse: collapse;
}

a {
  cursor: pointer;
  margin: 20px;
}

.ERRORBOX {
  color: red;
  font-size: 30px;
}
